#box {
    width: 95%;
    border: 5px solid gray;
    margin: 0;
    margin-top: 5px;
    align-items: center;
    text-align: center;
}

#numNota {
    font-size: 3.5em;
}

#butNota {
    padding-top: 10px;
}

#nomAsig {
    font-size: 2em;
    border-bottom: 5px solid grey;
    justify-self: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin:0;
    background-color: #7ED957;
}



.homeBox {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
}

.todo {
    height: 100%;
}